.app-container {
	padding: 0 4rem;
}

.app {
	margin: 5rem auto;
	max-width:  80rem;
	box-shadow: .1rem .8rem 1.8rem rgba(0,0,0,.6);
	background: #fff;
	padding:  2rem;
	overflow: auto;
	height: 50rem;
}