.app-list-item {
	font-size: 2rem;
}

.app-list-item button {
	width: 3.5rem;
	height: 3.5rem;
	margin: .3rem;
	font-size: 1.7rem;
	border: 0;
	cursor: pointer;
}

.app-list-item button:focus {
	box-shadow: 0;
	cursor: 0;
}

.app-list-item .btn-star {
	color: #ffd700;
}

.app-list-item .btn-trash {
	color: red;
}

.app-list-item .fa-heart {
	width: 3.5rem;
	height: 3.5rem;
	text-align: center;
	line-height: 3.5rem;
	font-size: 1.6rem;
	color: red;
	transform: translateX(1rem);
	opacity: 0;
	transition: all .3s;
}

.app-list-item-label {
	display: block;
	line-height: 3.5rem;
	cursor: pointer;
	user-select: none;
	transition: all .5s;
}

.app-list-item.like .fa-heart {
	opacity: 1;
	transform: translateX(0rem);
}

.app-list-item .fa-star {
	color: grey;
}

.app-list-item.important .fa-star {
	color: #ffd700;
}

.app-list-item.important .btn-star {
	color: #eee;
}